
.content {}

  .content__header {
    display: flex;
  }

    .content__vote-options {
       display: flex;
       margin-right: 10px;

       .option {
         margin-left: 10px;
       }

     }

    .content__title {
      font-weight: 700;
      font-size: 16px;
      padding-top: 8px;
    }

  .content__body {
    margin: 10px 0;
  }

    .content__image-post {
      @include border-radius(5px);
      width: 100%;
      //height: 400px;
      background-color: #E2EAEF;
      overflow: hidden;
    }

  .content__footer {
    color: #BBC3D0;
    display: flex;
    padding: 0 10px;
    font-size: 14px;

    a {
      font-weight: 700;

      &:hover {
        text-decoration: underline;
      }

    }

  }

    .content__comments {
      margin-left: auto;
    }
