.main {
  display: flex;

  margin-top: 60px;
  margin-bottom: 60px;
}

  .main__left,
  .main__right {
    @include border-radius(3px);

    width: 296px;
    //background-color: #{map_get($colors, shade-faint)};
    flex: 0 0 auto;
  }

  .main__left {}

  .main__right {}

  .main__centre {
    //flex-grow: 1;
    flex: 1 1 auto;
    //margin: 0 50px;
    margin-right: 50px;
    width: 854px;

    .content {
      margin-bottom: 50px;
    }

  }
