
%input--reset {
  color: #{map-get($colors, text)};
  font-size: 1em;

  &:focus {
    outline: none;
  }

}

.input {
  @extend %input--reset;
}

.textarea--plain {
  @extend %input--reset;
  @include border-radius(3px);
  width: 540px;
  max-width: 100%;
  height: 150px;
  padding: 10px;
  border: 1px solid #E5EAEF;

  &:focus {
    border-color: #{map_get($colors, primary)};
  }

}
