
%font--default {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
  @extend %font--default;

  color: #{map-get($colors, text)};
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

.anchor--hover {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

}

strong {
  font-weight: 700;
}

// Titles

.title--medium {
  color: #{map-get($colors, anchor)};
  font-weight: 700;
}

.title--section {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.title--semi {
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
}

.title--site {
  font-weight: 900;
  font-size: 24px;
}

// Text

.text--with-label {
  color: #{map-get($colors, text-light)};
  font-size: 13px;

  label {
    display: inline-block;
    min-width: 80px;
    margin-right: 10px;
  }

  .value {
    font-weight: bold;
  }

}

.text--general {
  color: #6E7680;
  line-height: 1.3em;
}

.text--sml {
  color: #{map-get($colors, text-medium)};
  font-size: 13px;
}

.text--comment {
  line-height: 19px;
  max-width: 680px;
}
