$colors: (
  active: #E64C31,
  primary: #2DAEFF,
  anti-primary: #FF6C00,
  text: #3E4248,
  text-medium: #848D9A,
  text-light: #9097A0,
  text-blue: #0A65B5,
  site-background: #FDFDFD,
  shade: #D9E0E8,
  focus: #B7C6D8
);

$seed: (
  height: 140px
);

$site: (
  max-width: 1280px,
  padding: 25px
);
